<div class="app-content-container animated fadeInUp">
  <div class="app-content-hd">

    <div class="fp-posts" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="20px">

      <!--User commits per day-->
      <md-card class="post-card2" fxFlex.gt-md="1 calc(15em + 20px)">

        <md-card-header class="post-header">
          <md-card-title>Commits vandaag</md-card-title>
          <md-card-subtitle>Always push before going home 😉</md-card-subtitle>
          <div fxFlex></div>
        </md-card-header>

        <md-card-content class="post-content">
          <md-list>
            <md-list-item *ngFor="let user of userCommitsThisDay | async">
              <img md-list-avatar src="{{user.avatar}}" alt="Avatar">
              <span class="post-score">{{ user.score}}</span>
              <h3 md-line> {{user.name}} </h3>
              <p md-line>
                <span class="message"> {{ user.message }} </span>
                <br><span class="time">{{ user.lastUpdate | amTimeAgo }} </span>
              </p>
            </md-list-item>
          </md-list>

        </md-card-content>

      </md-card>

      <!--User commits per week-->
      <md-card class="post-card2" fxFlex.gt-md="1 calc(15em + 20px)">

        <md-card-header class="post-header">
          <md-card-title>Commits deze week</md-card-title>
          <md-card-subtitle>Comes new week, comes new opportunities</md-card-subtitle>
          <div fxFlex></div>
        </md-card-header>

        <md-card-content class="post-content">
          <md-list>
            <md-list-item *ngFor="let user of userCommitsThisWeek | async">
              <img md-list-avatar src="{{user.avatar}}" alt="Avatar">
              <span class="post-score">{{ user.score}}</span>
              <h3 md-line> {{user.name}} </h3>
              <p md-line>
                <span class="time">Last update {{ user.lastUpdate | amTimeAgo }} </span>
              </p>
            </md-list-item>
          </md-list>

        </md-card-content>

      </md-card>

      <!--User commits per month-->
      <md-card class="post-card2" fxFlex.gt-md="1 calc(15em + 20px)">

        <md-card-header class="post-header">
          <md-card-title>Commits deze maand</md-card-title>
          <md-card-subtitle>Don't miss out</md-card-subtitle>
          <div fxFlex></div>
        </md-card-header>

        <md-card-content class="post-content">
          <md-list>
            <md-list-item *ngFor="let user of userCommitsThisMonth | async">
              <img md-list-avatar src="{{user.avatar}}" alt="Avatar">
              <span class="post-score">{{ user.score}}</span>
              <h3 md-line> {{user.name}} </h3>
              <p md-line>
                <span class="time">Last update {{ user.lastUpdate | amTimeAgo }} </span>
              </p>
            </md-list-item>
          </md-list>

        </md-card-content>

      </md-card>

      <!--Repo commits per day-->
      <md-card class="post-card2" fxFlex.gt-md="1 calc(15em + 20px)">

        <md-card-header class="post-header">
          <md-card-title>Our Repositories</md-card-title>
          <md-card-subtitle>Commits this week</md-card-subtitle>
          <div fxFlex></div>
        </md-card-header>

        <md-card-content class="post-content">
          <div fxFlex></div>
          <md-list>
            <md-list-item *ngFor="let repo of repoCommitsThisWeek | async">
              <img md-list-avatar src="{{repo.avatar}}" alt="Avatar">
              <span class="post-score">{{ repo.score}}</span>
              <h3 md-line *ngIf="repo.meta.repository.organization !== 'move4mobile'"> {{repo.name}}</h3>
              <h3 md-line *ngIf="repo.meta.repository.organization === 'move4mobile'"> {{repo.meta.repository.name}}</h3>
              <p md-line>
                <span class="time">{{ repo.lastUpdate | amTimeAgo }} </span>
              </p>
              <p md-line class="chat-heads">
                <span *ngFor="let user of repo.users">
                <img src="https://github.com/{{user}}.png?size=50" alt="{{user}}" class="avatar">
                <!--<span class="time">{{ repo.lastUpdate | amTimeAgo }} </span>-->
                </span>
              </p>
            </md-list-item>
          </md-list>

        </md-card-content>

      </md-card>

    </div>

  </div>
  <div class="app-content-footer" fxHide fxShow.gt-md="true">
    <md-grid-list cols="12" rowHeight="100px">
      <md-grid-tile [colspan]="12">
        <span class="quote">{{ randomQuote }}</span>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
